<div class="container">
    <h2 class="gray-header">Customer list:</h2>
</div>
<div class="container">
    <table>
        <thead>
        <tr>
            <th>
                Email:
            </th>
            <th>
                Name:
            </th>
            <th>
                Next contact date:
            </th>
            <th>

            </th>
        </tr>
        </thead>
        <tbody>
        {{#each clients}}
            <tr>
                <th>
                    <a href="mailto:{{this.mail}}" target="_blank">{{this.mail}}</a>
                </th>
                <td>
                    <a href="/client/{{this.id}}">{{this.name}}</a>
                </td>
                <td>
                    {{this.next}}
                </td>
                <td>
                    <form method="POST" action="/client/deleted/{{this.id}}?_method=DELETE">
                        <a class="btn btn-outline-success" href="/client/{{this.id}}">Details</a>
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <div>
        <form method="GET" action="client/form/add">
            <button type="submit" class="btn btn-outline-success btn-lg large-button" >Add new customer</button>
        </form>
    </div>
</div>